footer {
  background-color: darkgreen;
  color: white; 
  text-align: center;
}

header {
  background-color: darkgreen;
  color: red;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(MgOpenModernaBold.ttf);
  font-weight: bold;
}

nav a:visited{
  color: red;
}

nav a:hover{
  font-weight: bold;
}

nav a:active{
  text-decoration: none;
}

@media (min-width: 992px) {
  .item {
    height: 250px;
  }
label{
  text-align: right;
}
}

@media (max-width: 992px) {
  .item {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .item {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 130%;
  }
}

@media (min-width: 576px) {
  label{
    text-align: right;
  }
}
